@charset "UTF-8";
.small-screen {
    width: 3840px;
    font-family: '方正黑体_GBK';
    background: url(../images/newbg.jpg) 0 0 no-repeat;
}

.hotregular,
.event {
    position: relative;
    height: 540px;
}

.hotregular h4,
.event h4 {
    font-size: 50px;
    line-height: 100px;
    text-align: center;
}

.hotregular .inner {
    margin: 0 110px;
    height: 373px;
}

.event .inner {
    width: 1787px;
    height: 373px;
    margin: 0 auto;
}

.hotregular td {
    width: 20%;
    height: 373px;
    border: 1px dashed #bebebe;
    border-bottom: 1px solid #fff;
}

.tables span {
    line-height: 60px;
}

.divs p {
    font-size: 34px;
    padding: 80px 72px 49px 82px;
    width: 324px;
    height: 128px;
    line-height: 41px;
}

.onep {
    background: url(../images/1.png);
    position: absolute;
    top: 212px;
    left: 110px;
}

.twop {
    background: url(../images/2.png);
    position: absolute;
    left: 749px;
    top: 101px;
}

.threep {
    background: url(../images/3.png);
    position: absolute;
    top: 188px;
    left: 1647px;
}

.fourp {
    background: url(../images/4.png);
    position: absolute;
    top: 106px;
    left:2517px;
}

.fivep {
    background: url(../images/1.png);
    position: absolute;
    top: 185px;
    left: 3175px;
}

.tables span:first-child {
    margin-left: 71px;
}

.tables span:last-child {
    margin-right: 0;
}

.hotregular span {
    display: inline-block;
    margin-right: 643px;
    font-size: 22px;
}

.event .eventInner {
    position: relative;
    top:-15px;
    margin: 0 135px 0 90px;
    height: 458px;
    background: url(../images/modelevent.png) center no-repeat;
    overflow: hidden;
}

.event .eventInner .up {
    position: absolute;
    top: 34px;
    left: 170px;
    width: 3750px;
}

.event .eventInner .up .status {
    line-height: 130px;
}

.event .eventInner .up .content {
    margin-top: -20px;
}

.event .eventInner .down {
    position: absolute;
    top: 213px;
    left: 700px;
    width: 3750px;
}

.event .eventInner .down .status {
    line-height: 304px;
}

.event .eventInner .down .content {
    margin-top: 50px;
}

.event .eventInner .item {
    float: left;
    width: 1150px;
}

.event .eventInner .item .status {
    float: left;
    width: 141px;
    height: 212px;
    font-size: 40px;
    text-align: center;
    overflow: hidden;
}

.event .eventInner .item .status.icon1 {
    background: url(../images/status1.png) 0 0 no-repeat;
}

.event .eventInner .item .status.icon2 {
    background: url(../images/status2.png) 0 0 no-repeat;
}

.event .eventInner .item .status.icon3 {
    background: url(../images/status3.png) 0 0 no-repeat;
}

.event .eventInner .item .status.icon4 {
    background: url(../images/status4.png) 0 0 no-repeat;
}

.event .eventInner .item .status.icon5 {
    background: url(../images/status5.png) 0 0 no-repeat;
}

.event .eventInner .item .status.icon6 {
    background: url(../images/status6.png) 0 0 no-repeat;
}

.event .eventInner .item .content {
    float: left;
    padding-left: 15px;
}

.event .eventInner .item .content p {
    font-size: 34px;
    line-height: 60px;
}

.event .eventInner .item .content p.time {
    color: #4ccfff;
}

.event .eventInner .item .content .orange {
    padding-right: 5px;
    font-size:82px;
    color: #f7e444;
}


/*# sourceMappingURL=screen04.css.map */
