body,
html {
  height: 100%;
}

body {
  background: #062a56;
  background: url(../img/bg.png) no-repeat;
  background-size: 100% 100%;
}

.height-all {
  height: 100%;
}

.bor {
  border: 1px solid #255670;
  background: rgba(5, 113, 206, 0.1);
}

.content {
  position: relative;
  padding: 50px 40px 40px;
  height: 100%;
}

.content .index-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 50px;
  padding: 12px 0;
}

.content .index-title img {
  height: 100%;
}

.info-box {
  position: relative;
  border-radius: 10px;
  padding: 20px;
}

.info-box .info-tl,
.info-box .info-tr,
.info-box .info-bl,
.info-box .info-br {
  position: absolute;
  border: 3px solid #90e4f7;
  width: 20px;
  height: 20px;
}

.info-box .info-tl {
  top: -2px;
  left: -2px;
  border-bottom: none;
  border-right: none;
  border-top-left-radius: 10px;
}

.info-box .info-tr {
  top: -2px;
  right: -2px;
  border-bottom: none;
  border-left: none;
  border-top-right-radius: 10px;
}

.info-box .info-bl {
  bottom: -2px;
  left: -2px;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 10px;
}

.info-box .info-br {
  bottom: -2px;
  right: -2px;
  border-top: none;
  border-left: none;
  border-bottom-right-radius: 10px;
}

.info-box .info-title {
  position: relative;
  color: #4184cb;
  font-size: 18px;
  font-weight: 600;
  padding-left: 10px;
  border-left: 3px solid #4184cb;
  line-height: 20px;
}

.info-box .info-title .info-select {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 10px;
}

.info-box .info-title .info-select select {
  display: inline-block;
  width: 100%;
  border-color: #255670;
  background: transparent;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
}

.info-box .info-title .info-select select option {
  color: #444;
}

.info-box::before {
  position: absolute;
  content: "";
  top: 112px;
  left: -11px;
  width: 14px;
  height: 50px;
  background: url(../img/box-left.png);
}

.modular1 {
  height: 100%;
}

.modular1::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  margin-left: -155px;
  background: url(../img/row-light.png) no-repeat;
  width: 310px;
  height: 16px;
  background-size: 100%;
}

.modular3 {
  height: 50%;
  padding: 20px;
  text-align: center;
}

.modular4 {
  height: 50%;
}

.modular5 {
  height: 100%;
}

.modular5 .right-top {
  position: relative;
  height: calc(50% - 135px);
}

.modular5 .right-top .option4-intro {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 0px;
  width: 300px;
}

.modular5 .right-top .option4-intro span {
  display: block;
  color: #fff;
  line-height: 24px;
  font-size: 12px;
}

.modular5 .right-top .option4-intro span i {
  display: inline-block;
  width: 20px;
  height: 10px;
  border-radius: 2px;
  margin-right: 5px;
}

.modular5 .right-center {
  position: relative;
  height: calc(50% - 115px);
}

.modular5 .right-center .right-center-circle {
  position: absolute;
  width: 40%;
  height: 50%;
  top: 0;
  right: 0;
}

.modular5 .right-center .right-center-circle .option6-intro {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -21px;
}

.modular5 .right-center .right-center-circle .option6-intro strong {
  display: block;
  color: #fff;
  font-size: 22px;
  line-height: 1;
}

.modular5 .right-center .right-center-circle .option6-intro span {
  font-size: 12px;
  color: #fff;
}

.modular5::after {
  content: "";
  position: absolute;
  top: 70px;
  right: -4px;
  background: url(../img/col-light.png) no-repeat;
  width: 10px;
  height: 220px;
  background-size: 100%;
}

.info-progress {
  padding: 30px 0 10px;
}

.info-progress .progress-list {
  width: 100%;
  margin-bottom: 10px;
}

.info-progress .progress-list label {
  float: left;
  width: 46px;
  color: #fff;
  font-weight: 100;
  font-size: 12px;
  line-height: 20px;
  margin: 0;
}

.info-count {
  height: calc(33% - 20px);
  padding-top: 20px;
}

.info-count .count-list {
  float: left;
  width: 50%;
  padding: 10px;
}

.info-count .count-list .count-box {
  border: 1px solid #91e2f8;
  text-align: center;
  padding: 12px 0;
}

.info-count .count-list .count-box strong {
  display: block;
  font-size: 2.4rem;
  color: #feb456;
}

.info-count .count-list .count-box span {
  color: #fff;
  font-size: 1.2rem;
}

.jgp-progress {
  position: relative;
  line-height: 1;
}

.jgp-progress .jgp-progress-bar {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 100px);
  margin-right: -55px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.jgp-progress .jgp-progress-bar .jgp-progress-bar-outer {
  height: 15px;
  background-color: transparent;
  position: relative;
  vertical-align: middle;
}

.jgp-progress .jgp-progress-bar-inner {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #90e4f7;
  text-align: right;
  line-height: 1;
  white-space: nowrap;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.jgp-progress .jgp-progress-bar-inner .jgp-progress-bar-innertext {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 12px;
  margin: 0 5px;
}

.jgp-progress .jgp-progress-bar-inner.progress-bar-1 {
  background: -webkit-gradient(linear, left top, right top, from(#468dfe), to(#90e4f7));
  background: linear-gradient(to right, #468dfe, #90e4f7);
}

.jgp-progress .jgp-progress-bar-inner.progress-bar-2 {
  background: -webkit-gradient(linear, left top, right top, from(#326dce), to(#6095fe));
  background: linear-gradient(to right, #326dce, #6095fe);
}

.jgp-progress .jgp-progress-bar-inner.progress-bar-3 {
  background: -webkit-gradient(linear, left top, right top, from(#7c6dff), to(#aba1ff));
  background: linear-gradient(to right, #7c6dff, #aba1ff);
}

.jgp-progress .jgp-progress-bar-inner.progress-bar-4 {
  background: -webkit-gradient(linear, left top, right top, from(#feb355), to(#ffeb70));
  background: linear-gradient(to right, #feb355, #ffeb70);
}

.jgp-progress .jgp-progress-bar-inner.progress-bar-5 {
  background: -webkit-gradient(linear, left top, right top, from(#ee4351), to(#ff9e54));
  background: linear-gradient(to right, #ee4351, #ff9e54);
}

.jgp-progress .jgp-progress-bar-inner:after {
  display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle;
}

.jgp-progress .jgp-progress-text {
  position: absolute;
  right: -35px;
  top: 2px;
  font-size: 12px;
  color: #fff;
  display: inline-block;
  vertical-align: inherit;
  margin-left: 5px;
  line-height: 1;
  letter-spacing: 0.02em;
}
