<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!-- 组件扫描,service层自动注入 -->
	<context:component-scan base-package="com.lapland.*.service.impl" />

	<import resource="classpath:spring/spring-context-shiro.xml" />
	<!-- <import resource="classpath:spring/spring-context-ActiveMQ.xml" /> -->
	<import resource="classpath:spring/spring-context-redis.xml" />
	<import resource="classpath:spring/spring-context-database.xml" />

	<!-- 定时任务，运行去掉 -->
	<!-- <import resource="spring-context-timer.xml"/> -->

</beans>
