/*!
 * 服务诉求2、3
 * author:buly;
 * data:2016-12-11;
 */

body{
	position: relative;
}

/*header*/
.header{
	position: absolute;
	text-align: center;
	height: 100%;
	width: 100%;
    background: url(../images/bgg.png) no-repeat center top;
}

.header-tt{
    font-family: '方正黑体_GBK';
    font-size: 68px;
    line-height: 108px;
    height: 115px;
    padding-left: 150px;
    display: inline-block;
    letter-spacing: 10px;
    color: #fff;
}

/*main*/
.main{
	position: absolute;
	z-index: 2;
}
.mod {
    float: left;
    height: 1080px;
    text-align: center;
}

.mod .title{
    font-family: '方正黑体_GBK';
    font-size: 42px;
    line-height: 100px;
    display: inline-block;
    height: 100px;
    padding-left: 30px;
    background: url(../images/appeal-tt02.png) no-repeat left center;
}

/*左半部分*/

.mod.left {
    width: 1528px;
}

.col.mapstatus {
    width: 845px;
    height: 980px;
}

.col.barstatus {
    width: 683px;
    height: 980px;
}



/*中间部分*/

.mod.middle {
    width: 774px;
}

.col.appealnum{
	width: 774px;
	height: 965px;
}

.num-items{
	margin: 125px 0 0 37px;
	overflow: hidden;
}

.num-item{
	width: 663px;
	height: 165px;
	margin-top: 44px;
	background: url(../images/num-bg.png) no-repeat;
}

.num-item-icon{
	float: left;
	width: 120px;
	height: 120px;
	line-height: 120px;
	margin-top: 20px;
	text-align: center;
}

.num-item-icon>img{
	vertical-align: middle;
}

.num-item-tot{
	float: left;
	width: 515px;
    height: 135px;
    margin: 25px 0 5px 20px;
	text-align: left;
	overflow: hidden;
}
.num-item-tot em{
	font-size:36px;
}

.num-item-tot>h3{
	font-family:'方正黑体_GBK';
	font-size: 42px;
	line-height: 50px;
	color: #abf4ff;
}

.num-item-tot>span{
    display: inline-block;
    width: 459px;
    text-align: right;
    font-size: 72px;
    color: #feea44;
    line-height: 85px;
    font-weight: bold;
}

.num-average{
	border: 3px solid #2c69bd;
	height: 71px;
	line-height: 71px;
	font-size: 40px;
	font-family:'方正黑体_GBK';
	border-radius: 31px;
	overflow: hidden;
	background: rgba(16,9,100,0.66);
	text-align: center;
	margin-top: 27px;
}
.num-average em,
.num-average span{
	color: #e0b931;
	font-size: 50px;
	font-weight: bold;
}

/*右半部分*/

.mod.right {
    width: 1538px;
}

.col.numtrend{
	width: 1538px;
}

.col.type,
.col.webtrend{
	width: 769px;
}