/*!
 * 服务诉求钻取1
 * author:chengang;
 * data:2016-12-16;
 */

.title
{
    font-size: 42px;
    color: #fff;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.mapstatus
{
    width: 960px;
    height: 980px;
    float: left;
}

.barstatus
{
    width: 960px;
    height: 980px;
    float: left;
}
