/**
*成员单位01
*author:shsbo
*/

.small-screen-bg {
    width: 1920px;
    height: 1080px;
    background: url(../images/1.png)
}

.small-screen-bg h2 {
    padding-top: 10px;
    font-size: 68px;
    font-weight: bold;
    text-align: center;
}

.l {
    width: 352px;
    margin-right: 38px;
}

.l:nth-child(2) {
    width: 915px;
}

.l:last-child {
    margin-right: 0;
}

.main {
    margin: 20px 73px 0px;
}

.main .modular {
    width: 100%;
    height: 271px;
    margin-bottom: 25px;
    background: url(../images/bg-mod.png) no-repeat;
    background-size: 100% 100%;
}

.modular .bd {
    width: 846px;
    margin: 0 auto;
}
.modular .modular-bd{
    height: 237px;
}
.type,
.appeal-all{
    font-size: 22px;
}
#appeal-all{
    height: 608px;
    background: url(../images/bg-appeal.png) no-repeat;
    background-size: 100% 100%;
}
#appeal-all h4{
    padding-left: 15px;
}
.type dt{
    width: 98px;
    margin-left: 17px;
}
.appeal-all dt{
    width: 116px;
    margin-left: 17px;
}
.type dd{
     
}
.appeal-all dt{

}
.appeal-all dd{
    
}
.modular dd i{
    position: relative;
    display: inline-block;
    width: 195px;
    height: 14px;
    background: #6479a0;
    border-radius: 7px;
}
.modular dd em{
    display: inline-block;
    position: absolute;
    width: 50%;
    height: 14px;
    border-radius: 14px;
}
.type dd em{
    background: #9bca63;
}
.appeal-all dd em{
    background: #d9af61;
}
.type dd i{
    width: 210px!important;
}
.modular dl{
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 25px;
}
.appeal-all dl{
    overflow: hidden;
    margin-top: 27px;
    margin-bottom: 27px;
}
.modular dt,
.modular dd{
    float: left;
}


.bd .appeal-total {
    display: block;
    margin-top: 10px;
    font-size: 42px;
    line-height: 126px;
    border-bottom: 1px solid #0f4083;
    text-align: center;
}

.appeal-total em {
    margin-left: 90px;
    font-size: 72px;
    color: #feea44;
    line-height: 126px;
    vertical-align: -10px;
}
.appeal{
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 130px;
}
.appeal:last-child{
    margin-right: 0;
}
.appeal span {
    width: 170px;
    text-align: center;
    display: block;
    font-size: 26px;
}

.appeal em {
    width: 170px;
    text-align: center;
    display: block;
    font-size: 40px;
    color: #feea44;
}

.top {
    background: url(../images/bg-top.png) 0 0px no-repeat !important;
    margin-bottom: 17px!important;
}

.ht310 {
    height: 310px !important;
}
.ht606 {
    // height: 606px !important;
}

.modular h4 {
    text-align: center;
    font-size: 28px;
    position: relative;
    top:-8px;
}

.half {
    width: 100%;
    height: 540px;
}

.half h3 {
    font-size: 42px;
    font-family: "方正黑体_GBK";
    color: #fff;
    text-align: center;
    line-height: 110px;
}

.half .inner {
    width: 100%;
    height: 430px;
}

.l:last-child{
    width: 400px;
}