/**
*成员单位01
*author:shsbo
*/

.main {
    width: 100%;
    min-width: 1920px;
    height: 1080px;
    background: url(../images/memberBG.jpg) center no-repeat;
}
.middle-title {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    background: url(../images/bgg.png) no-repeat center top;
    z-index: 0;
}
.half {
    width: 100%;
    height: 540px;
}

.half h3 {
    font-size: 42px;
    font-family: "方正黑体_GBK";
    color: #fff;
    text-align: center;
    line-height: 110px;
}

.half .inner {
    width: 100%;
    height: 430px;
}
