@charset "UTF-8";
/**!
 * [成员23]
 * author: [shsbo];
 * date:2016-12-9
 */
.big-screen {
  position: relative;
}
.middle-title {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    background: url(../images/bgg.png) no-repeat center top;
    z-index: 0;
}

.col-left,
.col-right {
  width: 1533px;
  height: 1080px;
  float: left;
}
.col-left .head,
.col-right .head {
  text-align: center;
  height: 112px;
  line-height: 112px;
  padding-top: 10px;
}
.col-left .head span,
.col-right .head span {
  display: inline-block;
  padding-left: 40px;
  color: white;
  font-size: 42px;
  font-family: 方正黑体_GBK;
  background: url(../../images/titlebg.png) left center no-repeat;
}
.col-left .row,
.col-right .row {
  height: 50%;
}
.col-left .workline,
.col-right .workline {
  height: 418px;
}
.col-left .workgauge,
.col-right .workgauge {
  margin-left: 70px;
}

.col-middle {
  width: 774px;
  height: 1080px;
  float: left;
}
.col-middle .seatings-summary {
  width: 603px;
  margin-left: 91px;
  padding-top: 170px;
  color: #abf4ff;
}
.col-middle .seatings-summary li {
  width: 603px;
  height: 165px;
  background: url("../images/summarybg.png") no-repeat center center;
  margin-bottom: 53px;
  position: relative;
}
.col-middle .seatings-summary li .icon {
  background-position: center center;
  background-repeat: no-repeat;
  width: 120px;
  height: 119px;
  display: block;
  z-index: 10;
  position: absolute;
  top: 22px;
  left: -60px;
}
.col-middle .seatings-summary li.total .icon {
  background-image: url("../images/seatingicon01.png");
}
.col-middle .seatings-summary li.media .icon {
  background-image: url("../images/seatingicon02.png");
}
.col-middle .seatings-summary li.servicenum .icon {
  background-image: url("../images/seatingicon03.png");
}
.col-middle .seatings-summary li.inservice .icon {
  background-image: url("../images/seatingicon04.png");
}
.col-middle .seatings-summary li h2 {
  font-size: 42px;
  font-family: "方正黑体_GBK";
  padding-left: 80px;
  padding-top: 20px;
}
.col-middle .seatings-summary li p {
    display: inline-block;
    width: 534px;
    color: #f7e444;
    font-size: 72px;
    font-weight: bold;
    text-align: right;
}
.col-middle .seatings-summary em{
	font-size:36px;
}

.col-left .memberCount {
  position: relative;
  width: 100%;
  height: 958px;
  background: transparent url("../images/bannerleft.png") 152px 52px no-repeat;
}
.memberCount .modular:nth-child(1){
  top:54px;
  left:151px;
}
.memberCount .modular:nth-child(2){
  top:54px;
  left:962px;
}
.memberCount .modular:nth-child(3){
  top:640px;
  left:151px;
}
.memberCount .modular:nth-child(4){
  top:640px;
  left:962px;
}
.memberCount .modular{
  position: absolute;
  width: 411px;
  height: 225px;
  font-size: 28px;
  // background: url(../images/bg-color.png) bottom no-repeat;
}
.memberCount .modular img{
  position: absolute;
  width: 410px;
  height: 86px;
  left: 0px;
  top:139px;
}
.memberCount .modular h4{
  height: 70px;
  font-size: 35px;
  line-height: 70px;
  text-align: center;
  font-family: "Microsoft Yahei";
}
.memberCount .modular span{
  display: inline-block;
  margin-left: 37px;
  margin-bottom:20px;
}
.col-left .inner {
  width: 409px;
  height: 224px;
  font-family: "SimHei";
}
.col-left .inner.position1 {
  position: absolute;
  top: 52px;
  left: 152px;
}
.col-left .inner.position2 {
  position: absolute;
  top: 56px;
  left: 965px;
}
.col-left .inner.position3 {
  position: absolute;
  top: 642px;
  left: 152px;
}
.col-left .inner.position4 {
  position: absolute;
  top: 642px;
  left: 965px;
}
.col-left .inner h3 {
  font-size: 32px;
  line-height: 70px;
  text-align: center;
}
.col-left .inner ul {
  text-align: center;
  font-size: 0;
}
.col-left .inner .item {
  display: inline-block;
  width: 30%;
  font-size: 28px;
  text-align: center;
  line-height: 50px;
}

/*# sourceMappingURL=screen0203.css.map */
