<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>数据可视化系统 -欢迎</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../resources/images/common/favicon.ico">
    <!-- 公共CSS -->
    <script src="../../style/common/common_css.js"></script>
    <!-- 用户CSS -->
    <link href="../../style/css/style.css" rel="stylesheet">
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
<div id="wrapper">
    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close">
            <i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header" style="padding:0px;">
                    <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#"> <span class="clear"> <span
                                class="block m-t-xs" style="font-size:20px;"> <img
                                src="../../resources/images/index/log2.png">
								</span>
							</span>
                        </a>
                    </div>
                    <div class="logo-element">AI</div>
                </li>

                <!-- 菜单目录 -->
                <!--<li>-->
                    <!--<a class="J_menuItem" href="#">-->
                        <!--<i class="fa fa-database"></i><span class="nav-label">数据导入<span class="fa arrow"></span></span></a>-->
                    <!--<ul class="nav nav-second-level">-->
                        <!--<li><a class="J_menuItem" href="" target="J_iframe">CSV导入</a></li>-->
                        <!--<li><a class="J_menuItem" href="">数据库配置</a></li>-->
                        <!--<li><a class="J_menuItem" href="">API接口配置</a></li>-->
                        <!--<li><a class="J_menuItem" href="">监控信号配置</a></li>-->
                        <!--<li><a class="J_menuItem" href="">数据源管理</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
        </div>
    </nav>
    <!--左侧导航结束-->

    <!--加载右侧部分-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <!--加载头部导航-->
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-info " href="javascript:;"><i
                            class="fa fa-bars"></i></a>
                    <!-- 资源搜索 -->
                    <form role="search" class="navbar-form-custom" method="post" action="">
                        <div class="form-group">
                            <input type="text" placeholder="请输入您需要查找的内容 …" class="form-control" name="top-search"
                                   id="top-search">
                        </div>
                    </form>
                </div>
                <!--Home功能弹窗-->
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="modal" data-target="#msgdiv"
                                            href="#">
                        <i class="fa fa-bell"></i> <span class="label label-primary" id="newmsg"></span>
                    </a></li>
                    <li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#"> <i
                            class="fa fa-user"></i>${username}
                    </a>
                        <ul class="dropdown-menu dropdown-alerts">

                            <li><a href="javascript:showDailog('userInfo');">
                                <div>用户信息</div>
                            </a></li>
                            <li><a href="manage/instruction" class="J_menuItem">
                                <div>使用手册</div>
                            </a></li>
                            <li><a href="javascript:showDailog('changPwd');">
                                <div>修改密码</div>
                            </a></li>
                            <li><a href="manage/updateSystem" class="J_menuItem">
                                <div>系统升级</div>
                            </a></li>
                            <li><a href="javascript:logout()">
                                <div>退出登录</div>
                            </a></li>

                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

        <!--iFrame页面-->
        <div class="row J_mainContent" id="content-main">
            <iframe name='J_iframe' width="100%" height="100%" src="../../views/manage/welcome.html"
                    frameborder="0" seamless></iframe>
        </div>
    </div>
</div>

<!--加载模态框-->
<!--系统消息-->
<div class="modal inmodal fade" id="msgdiv" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form class="" id="form1" name="form1">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">系统消息</h4>
                </div>
                <div class="modal-body">暂无消息</div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 用户信息及修改密码弹窗 -->
<div class="modal inmodal fade" id="modelDiv" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form class="" id="form1" name="form1" novalidate="novalidate">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body"></div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    <button type="submit" id="savepsdbtn" class="btn btn-success">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>


<!-- 公共js -->
<script src="../../style/common/common_js.js"></script>
<!-- 用户JS -->
<script type="text/javascript" src="../../style/js/hAdmin.js"></script>
<script type="text/javascript" src="../../style/js/index.js"></script>

</html>
