<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>数据可视化系统 -角色管理</title>
    <!-- 公共CSS -->
    <script src="../../style/common/common_css.js"></script>
    <!-- 用户CSS -->
    <link href="../../style/css/style.css" rel="stylesheet">
</head>


<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
<div id="wrapper">
    <!--主页面-->
    <div class="wrapper wrapper-content animated fadeInDown">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">

                    <div class="ibox-title">
                        <h5>角色管理</h5>
                    </div>

                    <div class="ibox-content">
                        <div align="left">
                            角色名称：<input type="text" class="inputform2" name="role_name" id="role_name" value=""
                                        size="20">
                            <button type="submit" action="" class="btn btn-info btn-sm">搜索</button>
                        </div>
                        <div align="right" style="padding:5px;">
                            <button type="submit" action="" class="btn btn-info btn-sm">新增</button>
                            <button type="submit" action="" class="btn btn-info btn-sm">修改</button>
                            <button type="submit" action="" class="btn btn-danger btn-sm">删除</button>
                        </div>

                        <div id="dg92">
                            <table class="grid3" cellpadding="0" cellspacing="0">
                                <thead>
                                <tr>
                                    <th class="" width="10%">多选</th>
                                    <th class="" width="10%" title="点击排序" onmousedown="" style="cursor:pointer">角色ID
                                    </th>
                                    <th class="" width="25%" title="点击排序" onmousedown="" style="cursor:pointer">角色名称
                                    </th>
                                    <th class="" width="25%">操作</th>
                                </tr>
                                </thead>

                                <c:forEach var="role" items="${roleList }">
                                    <tbody>
                                    <tr class="tr-row1">
                                        <td class=" grid3-td">
                                            <div class="checkbox checkbox-info checkbox-inline">
                                                <input id="id0" type="checkbox" name="id" value="1"><label
                                                    for="id0"> </label>
                                            </div>
                                        </td>
                                        <td class=" grid3-td" align="center">${role.id }</td>
                                        <td class=" grid3-td" align="center">${role.name }</td>
                                        <td class=" grid3-td" align="center">
                                            <button onclick="" target="_self" class="btn btn-primary btn-xs"
                                                    type="button">关联用户
                                            </button>
                                            <button onclick="" target="_self" class="btn btn-primary btn-xs"
                                                    type="button">授权菜单
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </c:forEach>
                            </table>

                            <div class="pagesizeinfo">
                                <div class="pagesizeLeft">
                                    <button type="button" class="btn btn-white btn-xs">
                                        <i class="fa fa-angle-double-left"></i>
                                    </button>
                                    <button type="button" class="btn btn-white btn-xs">
                                        <i class="fa fa-angle-left"></i>
                                    </button>
                                    <button class="btn btn-white btn-xs" type="button">
                                        <i class="fa fa-angle-right"></i>
                                    </button>
                                    <button class="btn btn-white btn-xs" type="button">
                                        <i class="fa fa-angle-double-right"></i>
                                    </button>
                                    到<input type="text" name="extCurrPage" id="extCurrPage" class="inputform"
                                            style="width:40px;height:22px;"
                                            value="1" onkeydown="">/<font color="red">1</font>页
                                    <button class="btn btn-white btn-xs" type="button" onclick="">GO</button>
                                </div>
                                <div class="pagesizeRight">
                                    共<font color="red">2</font>条记录， 每页显示15条 。
                                </div>
                            </div>
                            <input type="hidden" name="currpage_" value="0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
