<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>数据可视化系统 -技术支持</title>
    <!-- 公共CSS -->
    <script src="../../style/common/common_css.js"></script>
    <!-- 用户CSS -->
    <link href="../../style/css/style.css" rel="stylesheet">
</head>


<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
<div id="wrapper">
    <!--主页面-->
    <div class="wrapper wrapper-content animated fadeInDown">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">

                    <div class="ibox-title">
                        <h5>技术支持</h5>
                    </div>

                    <div class="ibox-content">

                        <p style="text-indent:40px;">
                            <a href="">浙江悦鑫聚显智能科技有限公司</a>成立于2016年，公司前身为2007年成立的专业服务于广电行业的显示应用服务商。在人类步入大数据时代，原有传统的数据呈现中；我们通过专业的数据挖掘、分析评估；帮助客户完成从数据到呈现的最后一公里。
                        </p>
                        <p style="text-indent:40px;">公司以数据可视化解决方案的开发、销售和服务为核心。公司提供大数据可视化、数据分析等软硬件系统。</p>
                        <p style="text-indent:40px;">
                            以软硬件结合方式，以设计、开发为基础；通过用户调研、需求分析、产品设计、数据呈现，针对海量的数据信息，为城市应急、公共安全、交通应急、汇报展示等领域的指挥或控制中心，提供的针对性可视化应用解决方案。</p>
                        <p style="text-indent:40px;">悦显科技（lapland）致力于数据呈现最后一公里，成为国内外领军的大数据分析解决方案供应商。</p>

                        <p>&nbsp;</p>
                        <h4>联系我们 Contact Us</h4>
                        <p>&nbsp;</p>


                        <p>电子邮箱：</p>
                        <p>移动电话：</p>
                        <p>固定电话：</p>
                        <p>联系地址：</p>
                        <p>&nbsp;</p>
                        <h4>微信扫一扫</h4>
                        <p>&nbsp;</p>
                        <p>微信公众号</p>
                        <p>&nbsp;</p>
                        <p>接口文档</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
