 <div id="new-home-main-desktop">
    <div ui-view="newdashboardExecutor"></div>
    <!-- todo Iframe was piling up memory on tab - commented -->
    <!-- <iframe id="customHomepage" src="{{customHomepageUrl}}" class="new-home-container-iframe" ng-hide="!customHompageLoaded"></iframe> -->
    <div class="home-overlay" data-ng-class="{busy: loading}"></div>
    <div class="new-home-container" ng-hide="loading || customHompageLoaded || sampleCubeToImport">
        <div class="home-welcome-bar" onclick="tiaozhuan()">
            <div class="home-welcome-text" ng-class="{'trial':props.isTrial}">
                {{'welcome_user'|translate}} {{user}}
            </div>
            <div ng-if="props.isTrial" class="home-trial">
                {{'trial.title'|translate}} | {{props.timeLeft}} {{'trial.days'|translate}}
            </div>
        </div>
        <div class="home-content">
            <div class="home-explore">
                <div class="home-title">
                    {{'explore.explore'|translate}}&nbsp;<span class="home-text"> {{'explore.learn'|translate}}</span>
                </div>
                <div class="home-explore-links">
                    <div class="home-explore-left-panel">
                        <div class="home-explore-links">
                            <a href="http://www.sisense.com/documentation?src=product" target="_blank">
                                <div class="link-block">
                                    <div class="link-icon documentation"></div>
                                    <div class="link-text">{{'explore.links.documentation'|translate}}</div>
                                </div>
                            </a>
                            <a href="https://support.sisense.com/hc/en-us?src=product" target="_blank">
                                <div class="link-block">
                                    <div class="link-icon community"></div>
                                    <div class="link-text">{{'explore.links.community'|translate}}</div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="http://www.sisense.com/training/tutorials/?src=product" target="_blank">
                                <div class="home-explore-video-link">
                                    <div class="explore-video-overlay">
                                    </div>
                                    <div class="explore-video-overlay-text">
                                        <span class="video-play"></span>
                                        <span class="video-text">{{'explore.links.video'|translate}}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="home-explore-right-panel">
                        <div class="links-container">
                            <a href="http://www.sisense.com/documentation/v5/Tutorial/?src=product-admin" target="_blank" ng-if="admin">
                                <div class="link-block">
                                    <div class="link-icon data-to-dashboard"></div>
                                    <div class="link-text">{{'explore.links.tutorial'|translate}}</div>
                                </div>
                                <div class="link-divider"></div>
                            </a>
                            <a href="http://download.sisense.com/Tutorials/GettingStarted/5_ElastiCube_Rules.pdf" target="_blank" ng-if="admin">
                                <div class="link-block">
                                    <div class="link-icon rules-for-ec"></div>
                                    <div class="link-text">{{'explore.links.rules'|translate}}</div>
                                </div>
                                <div class="link-divider"></div>
                            </a>
                            <a href="http://www.sisense.com/documentation/v5/Tutorial/?src=product-designer" target="_blank" ng-if="designer">
                                <div class="link-block">
                                    <div class="link-icon data-to-dashboard"></div>
                                    <div class="link-text">{{'explore.links.tutorial'|translate}}</div>
                                </div>
                                <div class="link-divider"></div>
                            </a>
                            <a href="http://www.sisense.com/documentation/v5/creating-dashboards/using-formulas/?src=product-designer" target="_blank" ng-if="designer">
                                <div class="link-block" >
                                    <div class="link-icon using-formulas"></div>
                                    <div class="link-text">{{'explore.links.formulas'|translate}}</div>
                                </div>
                                <div class="link-divider"></div>
                            </a>
                            <a href="http://www.sisense.com/documentation/v5/using-dashboards/?src=product-viewer" target="_blank" ng-if="viewer">
                                <div class="link-block">
                                    <div class="link-icon data-to-dashboard"></div>
                                    <div class="link-text">{{'explore.links.using'|translate}}</div>
                                </div>
                                <div class="link-divider"></div>
                            </a>
                            <a href="http://www.sisense.com/documentation/v5/using-dashboards/#drill_dw" target="_blank" ng-if="viewer">
                                <div class="link-block" >
                                    <div class="link-icon drillin-down"></div>
                                    <div class="link-text">{{'explore.links.drilling'|translate}}</div>
                                </div>
                                <div class="link-divider"></div>
                            </a>
                            <a href="http://www.sisense.com/webinars/?src=product" target="_blank" ng-if="admin || designer || viewer">
                                <div class="link-block">
                                    <div class="link-icon webinars"></div>
                                    <div class="link-text">{{'explore.links.webinars'|translate}}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-examples">
                <div class="home-title">
                    {{'examples.examples'|translate}}&nbsp;<span class="home-text">{{'examples.need'|translate}}</span>
                </div>
                <div class="home-examples-links">
                    <div class="home-example-block ecommerce-desktop" ng-click="sampleClick('ecommerce')">
                        <div class="example-block-overlay"></div>
                        <div class="example-block-overlay-content">
                            <div class="example-overlay-sideline"></div>
                            <div class="example-overlay-text">{{'samples.eCommerce.description'|translate}}</div>
                        </div>
                        <div class="example-block-text">{{'samples.eCommerce.title'|translate}}</div>
                    </div>
                    <div class="home-example-block healthcare-desktop" ng-click="sampleClick('healthcare')">
                        <div class="example-block-overlay"></div>
                        <div class="example-block-overlay-content">
                            <div class="example-overlay-sideline"></div>
                            <div class="example-overlay-text">{{'samples.healthcare.description'|translate}}</div>
                        </div>
                        <div class="example-block-text">{{'samples.healthcare.title'|translate}}</div>
                    </div>
                    <div class="home-example-block leadgeneration-desktop" ng-click="sampleClick('lead')">
                        <div class="example-block-overlay"></div>
                        <div class="example-block-overlay-content">
                            <div class="example-overlay-sideline"></div>
                            <div class="example-overlay-text">{{'samples.leadGeneration.description'|translate}}</div>
                        </div>
                        <div class="example-block-text">{{'samples.leadGeneration.title'|translate}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="new-home-version" data-set-margin-depends-on-scroll="">{{ "version" | translate}} {{version}}</span>
</div>
<script>
function tiaozhuan() {
    window.location.href="/daping/html/index.html";
}
</script>