/* yui3 reset.css */
html
{
    color: #000;
    background: #FFF;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td
{
    margin: 0;
    padding: 0;
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img
{
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var
{
    font-style: normal;
    font-weight: normal;
}

ol,
ul
{
    list-style: none;
}

caption,
th
{
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after
{
    content: '';
}

abbr,
acronym
{
    border: 0;
    font-variant: normal;
}

sup
{
    vertical-align: text-top;
}

sub
{
    vertical-align: text-bottom;
}

input,
textarea,
select
{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%;
}

legend
{
    color: #000;
}

iframe
{
    display: block;
}

/* yui3 fonts */
body
{
    font: 12px/1.231 "Microsoft YaHei", arial, helvetica, clean, sans-serif;
    color: #fff;
}

select,
input,
button,
textarea
{
    font: 99% arial, helvetica, clean, sans-serif;
}

table
{
    font-size: inherit;
    font: 100%;
}

pre,
code,
kbd,
samp,
tt
{
    font-family: monospace;
    *font-size: 108%;
    line-height: 100%;
}

a
{
    text-decoration: none;
}

/* utilities */
.center-block
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.clearfix
{
    *zoom: 1;
}

.clearfix:before,
.clearfix:after
{
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after
{
    clear: both;
}

.l
{
    float: left !important;
}

.r
{
    float: right !important;
}

.hidden
{
    display: none !important;
}

.invisible
{
    visibility: hidden !important;
}

.small-screen
{
    width: 1920px;
    height: 1080px;
    background: url("../images/small-bg.jpg") no-repeat center center;
}

.big-screen
{
    width: 3840px;
    height: 1080px;
    background: url("../images/big-bg.jpg") no-repeat center center;
}

.row
{
    overflow: hidden;
}

.col
{
    height: 540px;
    width: 960px;
    float: left;
}

.col > .col-title
{
    text-align: center;
    font-size: 42px;
    height: 100px;
    line-height: 100px;
    font-family: "方正黑体_GBK";
}

.col > .col-bd
{
    height: 440px;
}

.sub-head
{
    height: 112px;
    line-height: 112px;
    padding-top: 10px;
}

.sub-head > h2
{
    background: url("../images/titlebg.png") no-repeat left 30px;
    padding-left: 40px;
    color: #fff;
    font-size: 42px;
    font-family: "方正黑体_GBK";
}

.middle-title
{
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    background: url(../images/middletitle.png) no-repeat center top;
    z-index:0;
}

.middle-title > h2
{
    font-family: '方正黑体_GBK';
    font-size: 68px;
    line-height: 108px;
    height: 115px;
    padding-left: 150px;
    display: inline-block;
    letter-spacing: 10px;
    color: #fff;
}
