/**!
 * [服务座席屏1]
 * author: [chengang];
 * date:2016-12-9
 */
.knowledgetitle
{
    background: url("../images/knowledgeicon.png") no-repeat 195px center;
    font-family: "方正黑体_GBK";
    font-size: 40px;
    padding-left: 275px;
    line-height: 100px;
    height: 100px;
}

.knowledgetitle > .total
{
    font-size: 48px;
    font-weight: bold;
    color: #f7e444;
    margin-left: 40px;
}

.knowledgelist
{
    font-size: 0;
    padding-top: 40px;
}

.knowledgelist > li
{
    width: 350px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 33px 0 33px 100px;
}

.knowledgelist > li .icon
{
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    float: left;
    width: 122px;
    height: 122px;
}

.knowledgelist > li.type01 .icon
{
    background-image: url("../images/knowledgeicon01.png");
}

.knowledgelist > li.type02 .icon
{
    background-image: url("../images/knowledgeicon02.png");
}

.knowledgelist > li.type03 .icon
{
    background-image: url("../images/knowledgeicon03.png");
}

.knowledgelist > li.type04 .icon
{
    background-image: url("../images/knowledgeicon04.png");
}

.knowledgelist > li > .info
{
    margin-left: 100px;
    text-align: center;
}

.knowledgelist > li .num
{
    color: #2ad4ff;
    font-weight: bold;
    font-size: 46px;
    line-height: 76px;
    display: block;
}

.knowledgelist > li .lbl
{
    font-size: 28px;
}
