/**!
 * [服务座席屏23]
 * author: [chengang];
 * date:2016-12-9
 */

.big-screen {
    width: 3840px;
    height: 1080px;
    // background: url(../images/bgg.png) no-repeat center center;
}
.middle-title {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    background: url(../images/bgg.png) no-repeat center top;
    z-index: 0;
}
.ml45
{
    margin-left: 45px;
}

.pt10
{
    padding-top: 10px;
}

.col-left,
.col-right
{
    width: 1533px;
    height: 1080px;
    float: left;
    z-index:1;
    position:relative;
}

.col-middle
{
    width: 774px;
    height: 1080px;
    float: left;
}

.col-seatingsstatus
{
    width: 560px;
    float: left;
}
.num em{
	font-size:30px;
}

.col-seatingsdetail
{
    width: 973px;
    float: left;
}

.seatingslegend
{
    font-size: 36px;
    font-family: "方正黑体_GBK";
    padding-left: 75px;
    margin-top: 60px;
}
.state-bg{
    position: absolute;
    left: 0;
    top:0;
    z-index: 99;
    width: 480px;
     height: 177px; 
    background: url(../images/state-bg.png) no-repeat;
    background-size:100% 100%;
}
.state-bg .info{
    overflow: hidden;
    padding: 17px;
}
.state-bg .head{
    float: left;
    width: 119px;
    height: 119px;
    background:url(../images/head.png) no-repeat  center bottom #aec2ef;
    background-size: 80px auto;
    border-radius: 5px;
}
.state-bg .infos span{
    font-size: 22px;
}
.state-bg .infos label{
    display: inline-block;
    width: 125px;
    height:30px;
     line-height:30px; 
     font-size:20px;
    text-align: center;
}
.state-bg .infos div:first-child{
    margin-top: 14px;
    margin-bottom: 5px;
}
.state-bg .infos div:last-child{
    margin-top: 14px;
    margin-bottom: 14px;
}
.seatingslegend > li
{
    background-position: left center;
    padding-left: 60px;
    background-repeat: no-repeat;
    color: #fff;
    vertical-align: middle;
    margin-bottom: 75px;
}

.seatingslegend > li.free
{
    background-image: url("../images/free-circle.png");
}

.seatingslegend > li.calling
{
    background-image: url("../images/calling-circle.png");
}
.seatingslegend > li.allmedia
{
    background-image: url("../images/allmedia-circle.png");
}
.seatingslegend > li.none
{
    background-image: url("../images/none.png");
}

.seatingslegend > li.unlogin
{
    background-image: url("../images/unlogin-circle.png");
}

.chartseatingstatus
{
    position: absolute;
    z-index: 99;
    width: 600px;
    height: 540px;
}

.time
{
    font-size: 40px;
    font-family: "方正黑体_GBK";
    background: url("../images/timebg.png") no-repeat center center;
    width: 821px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    float: left;
    margin-top: 32px;
}
/*#region 座席详情 */
.seatingsdetail
{
    background: url("../images/seatings.png") no-repeat center center;
    width: 894px;
    height: 957px;
    clear: both;
    position: relative;
}

.seatingsdetail > li
{
    display: block;
    position: absolute;
    width: 59px;
    height: 59px;
    text-align: center;
    line-height: 59px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    background-image: url("../images/unlogin-circle.png");
    border-radius: 50%;
    cursor: pointer;
}

.seatingsdetail > li.free
{
    background-image: url("../images/free-circle01.png");
}

.seatingsdetail > li.calling
{
    background-image: url("../images/calling-circle01.png");
}

.seatingsdetail > li.shanking{
	background-image: url("../images/shanking.gif")
}
.seatingsdetail > li.allmedia
{
    background-image: url("../images/allmedia-circle01.png");
}

.seatingsdetail > li.num01
{
    left: 384px;
    top: 441px;
}

.seatingsdetail > li.num02
{
    left: 430px;
    top: 394px;
}

.seatingsdetail > li.num03
{
    left: 488px;
    top: 422px;
}

.seatingsdetail > li.num04
{
    left: 478px;
    top: 485px;
}

.seatingsdetail > li.num05
{
    left: 416px;
    top: 497px;
}

.seatingsdetail > li.num06
{
    left: 212px;
    top: 517px;
}

.seatingsdetail > li.num07
{
    left: 175px;
    top: 437px;
}

.seatingsdetail > li.num08
{
    left: 220px;
    top: 357px;
}

.seatingsdetail > li.num09
{
    left: 307px;
    top: 256px;
}

.seatingsdetail > li.num10
{
    left: 376px;
    top: 196px;
}

.seatingsdetail > li.num11
{
    left: 466px;
    top: 220px;
}

.seatingsdetail > li.num12
{
    left: 573px;
    top: 265px;
}

.seatingsdetail > li.num13
{
    left: 657px;
    top: 305px;
}

.seatingsdetail > li.num14
{
    left: 670px;
    top: 397px;
}

.seatingsdetail > li.num15
{
    left: 663px;
    top: 529px;
}

.seatingsdetail > li.num16
{
    left: 644px;
    top: 618px;
}

.seatingsdetail > li.num17
{
    left: 561px;
    top: 654px;
}

.seatingsdetail > li.num18
{
    left: 434px;
    top: 687px;
}

.seatingsdetail > li.num19
{
    left: 340px;
    top: 702px;
}

.seatingsdetail > li.num20
{
    left: 276px;
    top: 632px;
}

.seatingsdetail > li.num21
{
    left: 117px;
    top: 576px;
}

.seatingsdetail > li.num22
{
    left: 60px;
    top: 526px;
}

.seatingsdetail > li.num23
{
    left: 33px;
    top: 457px;
}

.seatingsdetail > li.num24
{
    left: 39px;
    top: 385px;
}

.seatingsdetail > li.num25
{
    left: 75px;
    top: 322px;
}

.seatingsdetail > li.num26
{
    left: 135px;
    top: 281px;
}

.seatingsdetail > li.num27
{
    left: 219px;
    top: 192px;
}

.seatingsdetail > li.num28
{
    left: 245px;
    top: 124px;
}

.seatingsdetail > li.num29
{
    left: 298px;
    top: 73px;
}

.seatingsdetail > li.num30
{
    left: 369px;
    top: 51px;
}

.seatingsdetail > li.num31
{
    left: 445px;
    top: 65px;
}

.seatingsdetail > li.num32
{
    left: 506px;
    top: 111px;
}

.seatingsdetail > li.num33
{
    left: 623px;
    top: 160px;
}

.seatingsdetail > li.num34
{
    left: 696px;
    top: 166px;
}

.seatingsdetail > li.num35
{
    left: 759px;
    top: 204px;
}

.seatingsdetail > li.num36
{
    left: 799px;
    top: 267px;
}

.seatingsdetail > li.num37
{
    left: 807px;
    top: 341px;
}

.seatingsdetail > li.num38
{
    left: 783px;
    top: 409px;
}

.seatingsdetail > li.num39
{
    left: 774px;
    top: 527px;
}

.seatingsdetail > li.num40
{
    left: 792px;
    top: 597px;
}

.seatingsdetail > li.num41
{
    left: 779px;
    top: 668px;
}

.seatingsdetail > li.num42
{
    left: 735px;
    top: 728px;
}

.seatingsdetail > li.num43
{
    left: 666px;
    top: 763px;
}

.seatingsdetail > li.num44
{
    left: 590px;
    top: 762px;
}

.seatingsdetail > li.num45
{
    left: 454px;
    top: 801px;
}

.seatingsdetail > li.num46
{
    left: 391px;
    top: 838px;
}

.seatingsdetail > li.num47
{
    left: 316px;
    top: 844px;
}

.seatingsdetail > li.num48
{
    left: 247px;
    top: 816px;
}

.seatingsdetail > li.num49
{
    left: 198px;
    top: 761px;
}

.seatingsdetail > li.num50
{
    left: 178px;
    top: 689px;
}
/*#endregion */

/*#region 服务座席 */
body
{
    position: relative;
}

.seatings-summary
{
    width: 603px;
    margin-left: 91px;
    padding-top: 244px;
    color: #abf4ff;
}

.seatings-summary > li
{
    width: 603px;
    height: 165px;
    background: url("../images/summarybg.png") no-repeat center center;
    margin-bottom: 41px;
    position: relative;
}

.seatings-summary > li .icon
{
    background-position: center center;
    background-repeat: no-repeat;
    width: 120px;
    height: 119px;
    display: block;
    z-index: 10;
    position: absolute;
    top: 22px;
    left: -60px;
}

.seatings-summary > li.total .icon
{
    background-image: url("../images/seatingicon01.png");
}

.seatings-summary > li.media .icon
{
    background-image: url("../images/seatingicon02.png");
}

.seatings-summary > li.servicenum .icon
{
    background-image: url("../images/seatingicon03.png");
}

.seatings-summary > li.inservice .icon
{
    background-image: url("../images/seatingicon04.png");
}

.seatings-summary > li h2
{
    font-size: 42px;
    font-family: "方正黑体_GBK";
    padding-left: 80px;
    padding-top: 20px;
}

.seatings-summary > li p
{
    display: inline-block;
    width: 520px;
    color: #f7e444;
    font-size: 72px;
    font-weight: bold;
    text-align: right;
}
.seatings-summary > li em{
    color: #fff;
    font-size: 36px;
}

/*#endregion */

/*#region 全媒体各类型占比 */

.allmediatype-col,
.internet-col,
.realtimecall-col,
.allmediadeal-col
{
    height: 540px;
    width: 570px;
    float: left;
}

.allmediatype-col .sub-head,
.internet-col .sub-head
{
    padding-left: 100px;
}

.allmediatype
{
    padding-top: 50px;
}

.allmediatype > li
{
    width: 281px;
    height: 226px;
    float: left;
    background-repeat: no-repeat;
    font-size: 0;
}

.allmediatype > li.phone
{
    background-image: url("../images/mediabgleft.png");
}

.allmediatype > li.internet
{
    background-image: url("../images/mediabgright.png");
    margin-left: -18px;
}

.allmediatype > li .lbl
{
    background-position: left center;
    font-size: 28px;
    color: #fff;
    padding-left: 38px;
    background-repeat: no-repeat;
    margin-top: 60px;
}

.allmediatype > li.phone .lbl
{
    background-image: url("../images/phoneicon.png");
    margin-left: 90px;
}

.allmediatype > li.internet .lbl
{
    background-image: url("../images/interneticon.png");
    margin-left: 80px;
}

.allmediatype > li .num
{
    font-size: 54px;
    color: #9af9ff;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.allmediatype > li .percent
{
    width: 180px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    border: 1px solid #7ecef4;
    color: #f7e444;
    font-size: 30px;
    font-weight: bold;
    border-radius: 24px;
    margin-top: 35px;
    margin-left: 50px;
}
/*#endregion */

.chartinternetrate,
.chartrealtimecall,
.chartconnectrate,
.chartallmediadeal,
.chartacceptrate
{
    height: 420px;
}

.realtimecall-col .sub-head,
.allmediadeal-col .sub-head
{
    padding-left: 90px;
}

.connectrate-col,
.acceptrate-col
{
    width: 393px;
    height: 540px;
    float: left;
}

.connectrate-col .sub-head,
.acceptrate-col .sub-head
{
    padding-left: 45px;
}


.totalknow{
    font-size: 42px;
    color:#f7e444;
    text-align: center;
    font-weight: bold;
}
.wordcount,.keywordcount{
    font-size: 26px;
    text-align: center;
    padding-left: 100px;
}
.wordcount{
    height: 150px;
    background: url(../images/knowledgeicon01.png) no-repeat left center;
}
.wordcount{
    margin-top: 20px;
}
.keywordcount{
    height: 150px;
    background: url(../images/knowledgeicon02.png) no-repeat left center;
}

.wordcount p:first-child{
    padding-top: 25px;
    color: #2ad4ff;
    font-size: 46px;
    font-weight: bold;
}
.keywordcount p:first-child{
    padding-top: 25px;
    color: #2ad4ff;
    font-size: 46px;
    font-weight: bold;
}