/*!
 * 监控与调度屏4
 * author:buly;
 * data:2016-12-12;
 */

.col {
    height: 1080px;
    overflow: hidden;
    font-family: '方正黑体_GBK';
}
.tt{
    font-size: 42px;
    text-align: center;
    padding-top: 20px;
}
.mod {
    width: 920px;
    height: 243px;
    margin-left: 22px;
    margin-bottom: 18px;
    border: 1px solid #2c69bd;
    box-shadow: inset 0 0 0 1px #1d3c91;
    background-color: rgba(16, 9, 100, 0.66);
    border-radius: 4px;
    text-align: center;
}
.rows{
    transform:scaleY(0.9);
}
.mod .doublemod {
    float: left;
    width: 50%;
    overflow: hidden;
}

.mod .mod-title {
    font-size: 36px;
    color: #fff;
    line-height: 74px;
}

.mod .doublemod .mod-title {
    margin-top: 40px;
}

.mod.consult .mod-title,
.mod.delay .mod-title {
    font-size: 34px;
}

.mod .mod-tot {
    display: block;
    width: 185px;
    height: 84px;
    line-height: 84px;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #ffa500;
    margin: 8px auto;
    border: 1px dashed #05f2d9;
    border-radius: 10px;
    background: url(../images/mod-tot-bg.png) repeat-x;
}

/*仪表盘显示*/
.gauge{
	width: 353px;
	height: 216px;
	margin: 15px auto;
	position: relative;
	background-image: url(../images/gauge-bg.png);
}

.gauge .pointer{
	position: absolute;
	width: 106px;
	height: 106px;
	bottom: 0;
}

.gauge .pointer.toleft{
	left: 95px;
	background:url(../images/pointer-left.png) no-repeat left 80%;
}

.gauge .pointer.tomid{
	left: 125px;
	background:url(../images/pointer-mid.png) no-repeat center center;
}

.gauge .pointer.toright{
	left: 155px;
	background:url(../images/pointer-right.png) no-repeat left 80%;
}

/*mod-bd 条状显示*/
.mod-bd {
    position: relative;
    overflow: hidden;
}

.mod-bd .num-tip {
    overflow: hidden;
    position: absolute;
    top: 0;
    display: none;
}

.mod-bd .num-tip>span {
    border: 2px solid;
    border-radius: 4px;
    padding: 0 30px;
    display: inline-block;
    height: 48px;
    line-height: 48px;
    color: #fff;
    font-size: 32px;
    background-color: #030751;
}

.mod-bd .num-tip>i {
    display: block;
    width: 27px;
    height: 17px;
    margin: -2px auto;
    z-index: 2;
    position: relative;
}

.mod-bd .num-state-item .item-bar {
    height: 12px;
    margin-bottom: 10px;
}

.mod-bd .num-state-item>span {
    font-size: 26px;
}

.mod-bd .num-tip.red,
.mod-bd .num-tip.green,
.mod-bd .num-tip.yellow{
    display: block;
}

.mod-bd .num-tip.red>span {
    border-color: #ff5353;
}

.mod-bd .num-tip.green>span {
    border-color: #46f089;
}

.mod-bd .num-tip.yellow>span {
    border-color: #ffdc52;
}

.mod-bd .num-tip.red>i {
    background-image: url(../images/red-bor.png);
}

.mod-bd .num-tip.green>i {
    background-image: url(../images/green-bor.png);
}

.mod-bd .num-tip.yellow>i {
    background-image: url(../images/yellow-bor.png);
}
.sss{
    position: relative;
}
.sss::before{
    position: absolute;
    content: "";
    width:4px;
    height: 12px;
    left: 0;
    top:0;
    background: #ffdc52;

}
.mod-bd .num-state-item.red .item-bar {
    background-color: #ff7a21;
}

.mod-bd .num-state-item.green .item-bar {
    background-color: #19d6bb;
}

    .mod-bd .num-state-item.yellow .item-bar {
    background-color: #feea44;
}

.mod-bd .num-state-item.red>span {
    color: #ff7a21;
}

.mod-bd .num-state-item.green>span {
    color: #19d6bb;
}

.mod-bd .num-state-item.yellow>span {
    color: #feea44;
}
/*在线成员单位服务专席数量*/

.mod.seating {
    // margin-top: 16px;
}

.mod.seating .num-tip.red {
    left: 200px;
}

.mod.seating .num-tip.green {
    right: 200px;
}

.mod.seating .num-state {
    margin: 70px 0 0 70px;
}

.mod.seating .num-state-item {
    float: left;
    width: 393px;
}

.mod.seating .num-state-item.red {
	text-align: left;
}

.mod.seating .num-state-item.green {
	text-align: right;
}

.mod.seating .num-state-item .item-bar {
    height: 36px;
}

.mod.seating .num-state-item>span {
    font-size: 36px;
    padding: 0 40px;
}

/*近5分钟电话诉求*/

.mod.phone {
    background-image: url(../images/phone-icon.png);
    background-repeat: no-repeat;
    background-position: 10px bottom;
}

/*近5分钟互联网诉求*/

.mod.web {
    background-image: url(../images/web-icon.png);
    background-repeat: no-repeat;
    background-position: 10px bottom;
}


/*近5分钟政务服务网咨询量*/

.mod.consult {
    width: 440px;
    float: left;
    margin-right: 8px;
}

.mod.consult .mod-bd {
    margin-top: 20px;
}

.mod.consult .num-tip.red.left {
    left: 40px;
}

.mod.consult .num-tip.green {
    left: 160px
}

.mod.consult .num-tip.red.right {
    left: 290px;
}

.mod.consult .num-state {
    margin: 70px 0 0 15px;
}

.mod.consult .num-state-item {
    float: left;
    width: 132px;
}

/*短信发送延时(秒)*/

.mod.delay {
    float: left;
    width: 446px;
}

.mod.delay .mod-bd {
    margin-top: 20px;
}

.mod.delay .num-tip.green {
    left: 35px;
}

.mod.delay .num-tip.yellow {
    left: 155px;
}

.mod.delay .num-tip.red {
    left: 290px;
}


.mod.delay .num-state {
    margin: 70px 0 0 15px;
}

.mod.delay .num-state-item {
    float: left;
    width: 132px;
}

/*系统对接数据交换延时量*/
.areadelay{
	margin:15px 0 0 45px;
}

.areadelay .areadelay-bar{
	height: 16px;
}

.areadelay .areadelay-item{
	height: 70px;
	line-height: 70px;
	overflow: hidden;
}

.areadelay .area-name{
	display: block;
	float: left;
	width: 90px;
	padding-right: 10px;
	text-align: right;
	color: #fff;
	font-size: 22px;
	border-right: 2px solid #fff;
}

.areadelay .area-bar{
	width: 715px;
	float: left;
}

/*areadelay-bar*/
.areadelay-bar .area-name{
	line-height: 16px;
	height: 16px;
}

.areadelay-bar .area-bar{
	height: 3px;
	line-height: 3px;
	position: relative;
}

.areadelay-bar .bar-crisis{
	position: absolute;
	top: -17px;
	width:12px;
	margin-left: -5px;
	font-size: 20px;
	padding-top: 30px;
	background: url(../images/crisis-icon.png) no-repeat center top;
}

.areadelay-bar .bar-green{
	width: 30%;
	height: 3px;
	float: left;
	background-color: #19d6bb;
}

.areadelay-bar .bar-red{
	width: 70%;
	height: 3px;
	float: left;
	background-color: #ff7a21;
}

/*areadelay-item*/
.areadelay-item .area-bar{
	height: 10px;
	line-height: 10px;
	margin-top: 31px;
	background: url(../images/areabar-bg.png) repeat-x left center; 
}

.areadelay-item .inner{
	height: 10px;
	width: 0;
	line-height: 10px;
	-moz-transition: width 1s linear;
    -o-transition: width 1s linear;
    -webkit-transition: width 1s linear;
    transition: width 1s linear;
}

.areadelay-item .area-num{
	display: block;
	float: left;
	width: 88px;
	font-size: 22px;
	text-align: right;
}

.areadelay-item.green .inner{
	background: #19d6bb; 
}

.areadelay-item.red .inner{
	background: #ff7a21; 
}

.areadelay-item.green .area-num{
	color: #19d6bb;
}

.areadelay-item.red .area-num{
	color: #ff7a21;
}