/*!
 * project: 
 * author: dongyf
 * date:2016-12-15
 */
.col h3{
	font-size: 42px;
	height: 100px;
	line-height: 100px;
	text-align: center
}
.bg-total{
	background: url(../images/bg-total.png) no-repeat center;
}
.bg-total span{
	display: block;
	width: 270px;
	padding-top: 174px;
	padding-left: 348px;
	display: block;
	font-size: 30px;
	text-align: center;
}
.bg-total em{
	color: #feea44;
	font-size: 72px;
	font-weight: bold;
}
.bg-reply{
	background: url(../images/bg-reply.png) no-repeat;
	background-position: 50px center;
}
.bg-reply span{
	padding-top: 160px;
	padding-left: 325px;
	display: block;
	font-size: 38px;
}
.bg-reply em{
	color: #feea44;
	font-size: 100px;
	font-weight: bold;
	margin:0 10px;
}
.poss{
	display: inline-block;
	position: relative;
	z-index: 99;
	top:-296px;
	left: 382px;
	width: 200px;
	font-size: 52px;
	font-weight: bold;
	color: #feea44;
	text-align: center;
}
.	

