/**!
 * [监控与调度钻取屏2]
 * author: [chengang];
 * date:2016-12-15
 */
.title
{
    font-size: 42px;
    color: #fff;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: url(../images/yellow-bulb.png) 780px center no-repeat;
}

.replytable
{
    width: 1766px;
    color: #fff;
    border-bottom: 2px solid #282f97;
    margin: 0 auto;
    table-layout:fixed;
}

.replytable thead
{
    background: #095dab;
    height: 81px;
}

.replytable thead th
{
    font-size: 28px;
    text-align: center;
    border-right: 1px solid #282f97;
    height: 80px;
}

.replytable thead th.col01
{
    width: 75px;
}

.replytable thead th.col03
{
    width: 270px;
}
.replytable thead th.col04,
.replytable thead th.col05,
.replytable thead th.col06
{
    width: 225px;
}

.replytable tbody tr
{
    background: #000467;
}

.replytable tbody tr:nth-child(2n)
{
    background: #00024e;
}

.replytable tbody td
{
    font-size: 24px;
    height: 80px;
    text-align: center;
    border-right: 1px solid #282f97;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.replytable tbody td.lt
{
    text-align: left;
    padding:0 20px;
}

.warnlevel
{
    display: inline-block;
    width: 31px;
    height: 32px;
    background-position: center center;
    background-repeat: no-repeat;
}

.warnlevel.level01
{
    background-image: url("../images/level01.png");
}

.warnlevel.level02
{
    background-image: url("../images/level02.png");
}

.warnlevel.level03
{
    background-image: url("../images/level03.png");
}
