<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>数据可视化系统 -移动端说明</title>
    <!-- 公共CSS -->
    <script src="../../style/common/common_css.js"></script>
    <!-- 用户CSS -->
    <link href="../../style/css/style.css" rel="stylesheet">
</head>


<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
<div id="wrapper">
    <!--主页面-->
    <div class="wrapper wrapper-content animated fadeInDown">

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">

                    <div class="ibox-title">
                        <h5>移动端说明</h5>
                    </div>

                    <div class="ibox-content">
                        通过生成移动端访问系统，包括数据填报、数据透视、手机视图、数据推送、收藏夹等功能模块。 移动端的视图通过PC端制作，完成后在移动端访问。 <br/> <br/> <font
                            color="#FF0000">
                        移动端访问视图方法：</font> <br/> <br/>1. 点击 生成移动端 - 创建手机视图 菜单来创建一个新的视图(创建视图前请先建立分类)。<br/> 2. 下载手机APP,
                        使用注册的账号登录后点击 手机视图
                        菜单访问刚才创建的视图。<br/> <br/> <font color="#FF0000">安卓app下载地址： </font><a target="_blank"
                                                                                           href="https://www.baidu.com">https://www.baidu.com</a><br/>
                        <font color="#FF0000">iOS app下载地址： </font><a
                            target="_blank" href="https://www.baidu.com">https://www.baidu.com</a><br/>

                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="50%" align="center"><img src="../../resources/images/common/APP-android.png">
                                    <br/> 安卓客户端下载
                                </td>
                                <td align="center"><img src="../../resources/images/common/APP-iOS.png"> <br/> IOS客户端下载
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
