<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>数据可视化系统 -服务器性能监控</title>
    <!-- 公共CSS -->
    <script src="../../style/common/common_css.js"></script>
    <!-- 用户CSS -->
    <link href="../../style/css/style.css" rel="stylesheet">
</head>


<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
<div id="wrapper">
    <!--主页面-->
    <div class="wrapper wrapper-content animated fadeInDown">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">

                    <div class="ibox-title">
                        <h5>服务器性能监控</h5>
                    </div>

                    <div class="ibox-content">

                        <li>IP地址：${sysInfo.ip}</li>
                        <li>MAC地址：${sysInfo.MAC}</li>
                        <li>计算机名：${sysInfo.computerName}</li>
                        <li>操作系统：${sysInfo.osName}</li>
                        <li>用户名：${sysInfo.userName}</li>
                        <li>当前工作目录：${sysInfo.userWorkDirectory}</li>
                        <li>JDK版本号：${sysInfo.java_version}</li>
                        <li>JVM名称 ：${sysInfo.JVMname}</li>
                        <li>JVM可用内存：${sysInfo.JVMtotalMemory}</li>
                        <li>JVM剩余内存：${sysInfo.JVMfreeMemory}</li>
                        <li>总内存：${sysInfo.totalMemory}</li>
                        <li>剩余内存：${sysInfo.freeMemory}</li>

                        == CPU列表<br/>
                        <c:forEach var="cpu" items="${sysInfo.cpuList}">
                            <li>cpu使用率：${cpu.cpuUsage}</li>
                            <li>cpu频率 ：${cpu.cpuFrequency}</li>
                            <li>cpu类型：${cpu.cpuCatagory}</li>
                            <li>cpu温度：${cpu.cpuTemperature}</li>
                        </c:forEach>
                        == 存储设备列表<br/>
                        <c:forEach var="disk" items="${sysInfo.diskList}">
                            <li>磁盘盘符：${disk.diskName}</li>
                            <li>文件系统类型 ：${disk.fileType}</li>
                            <li>磁盘总容量：${disk.totalDiskCapacity}</li>
                            <li>磁盘剩余容量：${disk.freeDiskCapacity}</li>
                            <li>磁盘使用率：${disk.diskUsage}</li>
                        </c:forEach>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
